body {
  font-family: "Geom", sans-serif;
  font-optical-sizing: auto;
  font-weight: 12;
  font-style: normal;
  background-color: rgb(255, 255, 255);
  
}

footer p {
    text-align: center;
}


.true {
    background-color: #0011ff !important;
    color: rgb(0, 0, 0);
}

.false {
    background-color: #00ff22 !important; 
    color: rgb(0, 0, 0);
}

body {
    background: url(01-intro-961.avif);}

h1 {
    color: rgb(212, 0, 149);
}

p {
    color: rgb(255, 255, 255);
    font-weight: 600;
   -webkit-text-stroke : 1px black;
}
