body {
  font-family: "Geom", sans-serif;
  font-optical-sizing: auto;
  font-weight: 12;
  font-style: normal;
  background-color: rgb(255, 255, 255);
  
}

footer p {
    text-align: center;
}


.true {
    background-color: #0011ff !important;
    color: rgb(0, 0, 0);
}

.false {
    background-color: #00ff22 !important; 
    color: rgb(0, 0, 0);
}

body {
    background: url(01-intro-961.avif);}

h1 {
    color: rgb(212, 0, 149);
        font-weight: 900;
      -webkit-text-stroke : 1px black;
}

p {
    color: rgb(255, 255, 255);
    font-weight: 600;
   -webkit-text-stroke : 1px black;
}
Avec un peu de style :

.search-bar {
    margin-top: 10px;
    padding: 8px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

h5{
    color: rgb(255, 255, 255);
    font-weight: 900;
   -webkit-text-stroke : 1px black;
}